<h1 style="color:red">ENVIAR PRODUCTOS</h1>
<form action="/productos"  method="post" >
  <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">Nombre</label>
    <input type="text" class="form-control" name="title">
    <label for="exampleInputEmail1" class="form-label">Precio</label>
    <input type="text" class="form-control" name="price">
     <label for="exampleInputEmail1" class="form-label">Url Miniatura</label>
    <input type="text" class="form-control" name="thumbnail">
  <button type="submit" class="btn btn-success">Enviar</button>
   <button type="button" class="btn btn-secondary"><a href="/productos" style='text-decoration: none; color:black'>Ir a productoss</a></button>
</form>